div.googlemap-container {

	display: flex;


}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* タイトル image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/tempImages/685306588.jpg');
    min-height: 100%;
}

/* 企業情報 image (Portfolio) */
.bgimg-2 {
    background-image: url("/tempImages/503911474.jpg");
    min-height: 400px;
}

/* 事業概要 image (Contact) */
.bgimg-3 {
    background-image: url("/tempImages/802775028.jpg");
    min-height: 400px;
}

/* 求人募集 image (Contact) */
.bgimg-4 {
    background-image: url("/tempImages/480324517.jpg");
    min-height: 400px;
}

/* 問い合わせ image (Contact) */
.bgimg-5 {
    background-image: url("/tempImages/595733560.jpg");
    min-height: 400px;
}
.title-letter {margin-bottom: -30px};

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
p.tangerine {font-family: "Tangerine", serif;}
p.shadow{text-shadow: 2px 2px #000000;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
        background-attachment: scroll;
    }
}

div.googlemap-area {

	width: 100%;
}

div#map_canvas_systemlamp {


	height: 400px;
}

div#map_canvas_axislink {

	height: 400px;
}

div#map_canvas_kyusyu {

	height: 400px;
}

/* アニメーションボタン　 */
.anime-button{
  padding: 15px 100px;
  margin:10px 4px;
  color: #9e9e9e;;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  
}
.anime-button{
  border:1px solid transparent; 
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
.anime-button::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #ff6238;
  box-shadow: inset 0px 0px 0px #ff6238;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.anime-button:hover::before {
  width:100%;
}
.anime-button::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #ff6238;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.anime-button:hover::after {
  width:100%;
}
.anime-button:hover{
  border-left:1px solid #ff6238;
  border-right:1px solid #ff6238;
}
/* 画像の上の文字のアニメーション */
.effect i {
  height: 120px;
  padding: 20px;
  font-size: 100px;
  transition: .8s;
} 
.effect div {
  margin: auto;
  transition: .8s;
  transition-delay: .8s;
}
#loader_back {
  position: absolute;
  width:100%;
  height:100%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

