div.googlemap-container {

	display: flex;


}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* タイトル image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/tempImages/685306588.jpg');
    min-height: 100%;
}

/* 企業情報 image (Portfolio) */
.bgimg-2 {
    background-image: url("/tempImages/503911474.jpg");
    min-height: 400px;
}

/* 事業概要 image (Contact) */
.bgimg-3 {
    background-image: url("/tempImages/802775028.jpg");
    min-height: 400px;
}

/* 求人募集 image (Contact) */
.bgimg-4 {
    background-image: url("/tempImages/480324517.jpg");
    min-height: 400px;
}

/* 問い合わせ image (Contact) */
.bgimg-5 {
    background-image: url("/tempImages/595733560.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
        background-attachment: scroll;
    }
}

div.googlemap-area {

	width: 100%;
}

div#map_canvas_systemlamp {


	height: 400px;
}

div#map_canvas_axislink {

	height: 400px;
}

div#map_canvas_kyusyu {

	height: 400px;
}
